---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/header/header.astro";
import "../styles/base.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>jasfinacandles</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
